<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="EmailLogin" value="" />
    <add key="EmailPassword" value="" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="EmailPort" value="587" />
    <add key="ScrapThisUrl" value="http://api.bestbuy.ca/availability/products?callback=apiAvailability&amp;accept-language=en&amp;skus=B0008225" />
    <add key="TermToNotMatch" value="SoldOutOnline" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>